.hero {
  height: 70vh;
  background: url("https://i.pinimg.com/736x/8c/83/9d/8c839d002de8170e59ab548f809ee508.jpg")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
}

.hero-text h1 {
  font-size: 45px;
}

.hero-text p {
  font-size: 20px;
  margin-top: 10px;
}
